@model CareerCloudMVCCore2.Models.CompanyLocations

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CompanyLocations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <select asp-for="Company" class="form-control" asp-items="ViewBag.Company"></select>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryCode" class="control-label"></label>
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateProvinceCode" class="control-label"></label>
                <input asp-for="StateProvinceCode" class="form-control" />
                <span asp-validation-for="StateProvinceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityTown" class="control-label"></label>
                <input asp-for="CityTown" class="form-control" />
                <span asp-validation-for="CityTown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipPostalCode" class="control-label"></label>
                <input asp-for="ZipPostalCode" class="form-control" />
                <span asp-validation-for="ZipPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
